<h1>Manage Users</h1>

<div>
  <h2>Add New User</h2>
  <input [(ngModel)]="newUser.name" placeholder="Name" />
  <input [(ngModel)]="newUser.email" placeholder="Email" type="email"/>
  <input [(ngModel)]="newUser.password" type="password" placeholder="Password" />
  <button (click)="add()">Add User</button>
</div>

<h2>User List</h2>
<div *ngFor="let user of users">
  <p>ID: {{ user.id }} - Name: {{ user.name }} - Email: {{ user.email }}</p>
  <input [(ngModel)]="user.name" placeholder="Name" />
  <input [(ngModel)]="user.email" placeholder="Email" />
  <button (click)="update(user)">Update User</button>
  <button (click)="deleteUser(user.id)">Delete User</button>
</div>
