<h1>Gerenciar Usuários</h1>

<div>
  <h2>Adicionar Novo Usuário</h2>
  <input [(ngModel)]="newUser.name" placeholder="Nome" />
  <input [(ngModel)]="newUser.email" placeholder="Email" type="email"/>
  <input [(ngModel)]="newUser.password" type="password" placeholder="Password" />
  <button (click)="add()">Adicionar Usuário</button>
</div>

<h2>Lista de Usuários</h2>
<div *ngFor="let user of users">
  <p>ID: {{ user.id }} - Nome: {{ user.name }} - Email: {{ user.email }}</p>
  <input [(ngModel)]="user.name" placeholder="Nome" />
  <input [(ngModel)]="user.email" placeholder="Email" />
  <button (click)="update(user)">Atualizar Usuário</button>
  <button (click)="deleteUser(user.id)">Excluir Usuário</button>
</div>
